{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": [
    "prettier",
    "plugin:react-hooks/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "strict": 0,
    "indent": ["error", 2],
    "semi": ["error", "never"]
  }
}
