{
   "env": {
     "browser": true,
     "es2020": true,
     "node": true
   },
   "extends": [
     "prettier",
     "plugin:react-hooks/recommended"
   ],
   "parser": "babel-eslint",
   "parserOptions": {
     "ecmaFeatures": {
       "jsx": true
     },
     "sourceType": "module"
   },
   "plugins": ["react"],
   "rules": {
    "strict": "off",
    "indent": ["warn", 3],
    "semi": ["warn", "never"]
  }
 }
