@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  background-color: bisque;
}

.superContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  h1 {
    font-family: "Bangers", cursive;
    font-size: 6rem;
    margin: 0 0 4rem 0;
    color: orangered;

    span {
       display: inline-block;
       font-size: 3.5rem;
       position: relative;
       left: 1.5rem;
       bottom: 1.3rem;
       animation: floating 4.5s ease-in-out infinite;
    }
  }

  a {
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    color: #826544;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.messagesContainer {
  padding: 1rem;
  width: 100%;
  max-width: 70rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Rubik", sans-serif;

  h4 {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #38322c;
  }

  p {
    margin: 0.5rem 0 1rem 0;
    color: #615243;
  }

  section {
    border-bottom: 1px solid #ccc;
  }

  section:last-child {
    border: none;
  }
}

@keyframes floating {
   0% {
      transform: translate3d(0, 0, 0);
   }
   50% {
      transform: translate3d(0, -0.4rem, 0);
   }
   100% {
      transform: translate3d(0, 0, 0);
   }
}
