.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin: 2rem 0;

   h1 {
      font-size: 4.5rem;
      margin: 0 0 1rem 0;
   }
}
